In [1]:
import pandas as pd
import numpy as np
A = np.arange(300).reshape((100,3))

In [2]:
A.shape

(100L, 3L)

In [3]:
matrix = pd.DataFrame(A)
matrix.head()

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [47]:
test = matrix.ix[np.random.choice(100,5,replace=False)]

In [48]:
test

      0    1    2
44  132  133  134
28   84   85   86
61  183  184  185
17   51   52   53
12   36   37   38

In [52]:
def f():
    for i in range(10):
        yield i

print f()

<generator object f at 0x000000000A971F30>

In [54]:
i = 0
while i<100:
    i+=1

<ul>
<li>accidental sampling</li>
<li>qouta sampling</li>
<li>purposive sampling</li>
<ul>